global:
  postgresql:
    existingSecret: gitlab-postgres-postgresql

persistence:
  ## A manually managed Persistent Volume and Claim
  ## If defined, PVC must be created manually before volume will be bound
  ## The value is evaluated as a template, so, for example, the name can depend on .Release or .Chart
  ##
  existingClaim: gitlab-database

  size: 10Gi

postgresqlDatabase: gitlab